/* BASIC STYLES HERE */

.icon{
    width: 100%;
    border: 2px;
    
}
.icon:hover{
    cursor: pointer;
    background-color: white !important;
    color: black !important;
    border-color: black !important;

}

.jotBox{
    height: 70vh !important;
}

.activeJot{
    max-width: 70vw;
    min-width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.sidebar{
    min-height: 90vh;
}

.landing{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
}

.landing-logo{
    color: white;
    height: 360px !important;
    border-radius: 10%;
}

.landing-logo:hover{
    cursor: pointer;
    color: black;
    border-color: black !important;
}

.jot-logo{
    height: 45px;
    border-radius: 10%;
}

.jot-logo:hover{
    cursor: pointer;
    color: black;
    border-color: black !important;
}

#nav{
    display: none;
}