<div class="offcanvas offcanvas-start bg-dark text-light pb-5" tabindex="-1" id="jotList" aria-labelledby="jotCanvas">
    
    <div class="offcanvas-header border-bottom border-2 border-light">
      
        <h1 class="offcanvas-title jot-logo" id="jotCanvas" onclick="app.JotController.selectJot('dropDown')" title="Show Number of Jots">J<i class="mdi mdi-circle-edit-outline fs-3"></i>T.</h1>
  
        <button type="button" class="btn btn-outline-light px-3" data-bs-dismiss="offcanvas" aria-label="Close" title="Close Menu"> <i class="mdi mdi-window-close fs-4"></i> </button>
        
        
        </div>

        <div id="dropDown" class="m-2 border-bottom border-light d-none align-items-baseline">

            <h5 id="jotNum" class="px-2"> </h5>

            <button type="button" class="btn btn-outline-light py-0 px-1 m-1" onclick="app.JotController.selectJot('addJot')" title="Add Jot"> <i class="mdi mdi-file-document-plus-outline fs-6"></i> </button>

        </div>
  
    <div class="d-flex flex-column justify-content-between sidebar">
  
        <div class="container-fluid">

            <form onsubmit="app.JotController.addJot()" id="addJot" class="row border border-light p-2 rounded m-1 d-none">
                        
                <div class="w-100 d-flex">
                    <input id="title" required type="text" minlength="3" maxlength="15" class="form-control h-75 w-75 m-1 px-5" name="title" title="Name Your Jot">
                    <input type="color" name="color" class="form-control h-75 w-25 m-1 bg-dark" title="Choose a Jot Color" value="#e9ecef">
                </div>

                <div class="d-flex justify-content-around w-100 px-2">
                    <select name="type" class="form-control h-75 w-75 m-1 bg-dark text-light">
                        <option value="mdi mdi-file-outline">Jot <i class="mdi mdi-file-outline"></i></option>
                        <option value="mdi mdi-file-account-outline">Personal Jot <i class="mdi mdi-file-account-outline"></i></option>
                        <option value="mdi mdi-file-cog-outline">Important Jot <i class="mdi mdi-file-cog-outline h-50 w-50"></i></option>
                    </select>
                    <button class="btn btn-outline-light rounded-end-3 h-75 w-25 m-1" title="New Jot"><i class="mdi mdi-file"></i></button>
                </div>
                
            </form>

            <div class="offcanvas-body" id="jots"></div>
            
        </div>

    </div>
      
</div>
    <section id="Jot." class="row bg-dark text-light justify-content-center"></section>