<section class="row">
  <div class="col-3" id="jots"></div>
  <div class="col-9" id="activeJot"></div>
</section>
<section class="row">

  <!-- <div class="col-2 bg-dark text-light rounded p-2" id="jots">
    <div class="row">
      <h4 class="">${this.title}</h4>
      <button class="btn btn-outline-danger"><i class="mdi mdi-trash-can-outline"></i></button>
    </div>
    <div>
      <h5>$this.dateUpdated</h5>
    </div>
  </div> -->

  <div class="col-9" id="activeJot">

    <div class="bg-dark text-light">
      <br class="">
      <div>
        <h1>$this.title</h1> <h3>${this.dateUpdated}</h3>
      </div>
      <textarea class="bg-dark w-75 text-light" name="Jot" id="activeJot" cols="30" rows="10"></textarea>
    </div>

  </div>
</section>
