<section class="row bg-dark text-light justify-content-center">

<nav class="d-flex justify-content-between align-items-baseline border-bottom border-2 border-light my-2 p-1">

  <button class="btn btn-outline-light px-2 py-0 m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="fs-3 mdi mdi-menu"></i>
  </button>

  <h1 class="title">J<i class="mdi mdi-circle-edit-outline fs-3"></i>T.</h1>

  <button class="btn btn-outline-light px-2 py-0 m-2" onclick="app.JotController.saveActive()">
    <i class="fs-3 mdi mdi-floppy"></i>
  </button>
</nav>
  
  <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header border-bottom border-2 border-light">

      <h1 class="offcanvas-title" id="offcanvasExampleLabel">J<i class="mdi mdi-circle-edit-outline fs-3"></i>T.</h1>

      <button type="button" class="btn btn-outline-light px-3" data-bs-dismiss="offcanvas" aria-label="Close"> <i class="mdi mdi-window-close fs-4"></i> </button>

    </div>

    <div class="d-flex flex-column justify-content-between sidebar">

      <div class="offcanvas-body" id="jots"></div>

      <div>

        <form onsubmit="app.JotController.addJot()" id="addJot" class="d-flex justify-content-center rounded-0">
          <!-- /**FIXME - Rounded Form -->
        
          <input type="text" class="form-control w-75 rounded-start-3" name="title" placeholder="Title">

          <button class="btn btn-outline-light rounded-end-3" title="New Jot"><i class="mdi mdi-file"></i></button>
      
        </form>

      </div>
      
    </div>

  </div>

  <div class="m-0 bg-dark text-light d-flex justify-content-center activeJot" id="activeJot">

    <!-- <div class="w-75" id="activeJot">

      <div class="d-flex justify-content-between border-bottom border-2 border-light mb-3">
        <h1>$this.title</h1> 
        <h3>${this.dateUpdated}</h3>
      </div>

      <div class="form-floating">
        <textarea class="form-control bg-dark w-100 text-light jotBox" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label class="text-center" for="floatingTextarea">Jot it down!</label>
      </div>
    </div> -->

  </div>

</section>

  <!-- <div class="col-2 bg-dark text-light rounded p-2" id="jots">
    <div class="row">
      <h4 class="">${this.title}</h4>
      <button class="btn btn-outline-danger"><i class="mdi mdi-trash-can-outline"></i></button>
    </div>
    <div>
      <h5>$this.dateUpdated</h5>
    </div>
  </div> -->


    <!-- <div class="w-75">
      <div class="d-flex justify-content-between border-bottom border-2 border-light mb-3">
        <h1>$this.title</h1> 
        <h3>${this.dateUpdated}</h3>
      </div>
      <div class="form-floating">
        <textarea class="form-control bg-dark w-100 text-light jotBox" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label class="text-center" for="floatingTextarea">Jot it down!</label>
      </div>
    </div> -->

